* {
  margin: 0;
  padding: 0;
}
header {
  background-color: lightblue;
}

.btn {
  padding: 20px;
  background-color: gray;
  border: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
}

.nav-list li {
  padding: 20px;
  list-style: none;
}

.nav-list li a {
  text-decoration: none;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */
