* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.color-main {
  color: #00d0d0;
}

.btn {
  padding: 20px;
  background-color: gray;
  border: none;
}

/* Secondary Uppercase heading */
.secondary-heading-uppercase {
  text-transform: uppercase;
  letter-spacing: 3px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-button {
  height: 100%;
}

.nav-list {
  display: flex;
}

.nav-item {
  padding: 30px 20px;
}

.nav-book-now {
  background-color: #00d0d0;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-book-now a {
  color: white;
}

.nav-book-now a:hover {
  color: white;
}

.nav-book-now:hover {
  background-color: rgb(32, 43, 40);
  transition: background-color 0.3s;
}

.navbar-right {
  height: 100%;
}

.nav-list li {
  padding: 20px;
  list-style: none;
}

.nav-list li a {
  text-decoration: none;
}

.navbar-brand {
  max-height: 100px;
}

.landing {
  background: url("../img/landing.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.landing::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(14, 39, 55, 0.7);
  z-index: 1;
}

.landing-text {
  z-index: 3;
  color: white;
}

.custom-outline-button {
  background-color: transparent;
  border: 2px solid #00d0d0;
  color: white;
  padding: 20px 40px;
  border-radius: 0px;
}

.custom-outline-button:hover {
  background-color: #00d0d0;
  border: 2px solid #00d0d0;
}

/* Section Availability */

.check-availability .container-fluid {
  display: flex;
  justify-content: center;
  padding: 0px 10px;
}

.availability-form {
  box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.15);
  padding: 40px 40px 0 40px;
  transform: translateY(-50%);
  position: absolute;
  z-index: 5;
  border-radius: 10px;
  background-color: white;
}

.check-availability label {
  font-weight: 500;
  font-size: 12px;
}

.check-availability input,
.check-availability select {
  border-radius: 5px;
  height: 50px;
}

.check-availability input:focus,
.check-availability select:focus {
  border: 2px solid #00d0d0;
  box-shadow: none;
}

.custom-fill-button {
  border-radius: 3px;
  background-color: #00d0d0;
}
.custom-fill-button:hover {
  background-color: white !important;
  color: #00d0d0 !important;
  box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.15);
}

.submit-form button:active {
  background-color: #e9ecef !important;
  color: #00d0d0 !important;
  box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.15);
}

/* Section About Us */

#about-us {
  margin-top: 200px;
}

#about-us img:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

/* Section Best Room */

.best-room {
  background-color: rgb(14, 39, 55);
}

.room-image {
  background-image: url("../img/business-suite.jpg");
  background-position: center right !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  height: 100%;
}

.featured-room-card {
  padding: 100px 10px;
}

.features-list {
  font-size: 18px;
}

.feature i {
  padding-right: 10px;
}

/*Section Testimonial*/

.testimonials-section {
  margin-top: 100px;
  margin-bottom: 40px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}
.section-heading h6 {
  margin-bottom: 10px;
}
.section-heading h2 {
  font-size: 40px;
  text-transform: capitalize;
  margin-bottom: 0;
  display: block;
  line-height: 1.2;
}
.section-heading {
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
}
.rating span {
  color: #f59e17;
  font-size: 14px;
}
.rating {
  margin-bottom: 5px;
}

/* Footer */
footer {
  background-color: rgb(14, 39, 55);
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) {
  .submit-form button {
    margin-top: 20px;
  }
  .check-availability input,
  .check-availability select {
    font-size: 10px;
  }

  .room-image {
    height: 350px;
  }

  .single-testimonial-slide {
    padding-top: 30px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .submit-form button {
    font-size: 14px;
  }

  #about-us {
    margin-top: 150px;
  }

  .check-availability input,
  .check-availability select {
    font-size: 14px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #about-us {
    margin-top: 150px;
    margin-bottom: 100px;
  }
  .check-availability label {
    font-size: 14px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .check-availability label {
    font-size: 16px;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */
